@page
@model Index
@{
    ViewData["Title"] = "Home page";
}

<div>
    <h1 class="display-3 text-center">Welcome to ScarNet Core</h1>
    <p>This is the development site for <span class="font-italic">ScarNet Core</span>. Originally build as Scarlett, using PHP between 2017 &amp; 2020, this new site uses .NET Core 5, to bring it to a more up to date framework</p>
    <h2 class="display-4 text-center">Roadmap</h2>
    <p class="text-justify">Here are the planned features for ScarNet Core:</p>
    <ul class="text-justify">
        <li>
            Features imported from Scarlett.
            <ul>
                <li>Atricles</li>
                <li>Flash updates</li>
                <li>Redirects</li>
                <li>Gallery</li>
                <li>Promotion banner</li>
            </ul>
        </li>
        <li>Redesign admin functionality.</li>
        <li>
            Introduce new functionality & features:
            <ul>
                <li>Unit Tests</li>
                <li>Link to Github build status</li>
            </ul>
        </li>
    </ul>
    <h2 class="display-4 text-center">Latest Flash updates</h2>
    <p class="text-justify">
        Here are a few examples:<br>
        28/05/2020 - testing <i>Posted from: <b>my house</b></i> <br>
        11/05/2020 - Astronomia intensifies again and again <i>Posted from: <b>Inside the house</b></i><br>
        <a asp-page="/FlashArchive">Flash updates Archive</a>
    </p>
    <h2 class="display-4 text-center">Latest New page content</h2>
    <p class="text-justify">
        Some Examples here:<br />
        <b><a href="article.php?id=13">test</a></b> Created on: 6 April 2016<br />
        <b><a href="article.php?id=12">Trip to New York</a></b> Created on: 5 April 2016<br />
        <b><a href="article.php?id=11">50 States Challange</a></b> Created on: 4 May 2014<br />
        <b><a href="article.php?id=10">America's Historic East Hotels</a></b> Created on: 4 May 2014<br />
        <b><a href="article.php?id=9">America's Historic East</a></b> Created on: 4 May 2014<br />
    </p>
</div>
