body {
 font: 22px "Arial Narrow";
 background-color: #FAA;
 margin:0px;
}
#wrapper{
 margin: 67px 0px 0px 0px;
 width:100%;
 background-color: #FCC;
 position: relative;
 padding: 0px;
 display: table;
}
#topper {
 background-color: #A22;
 position: fixed;
 top: 0px;
 padding: 0px;
 width: 100%;
 z-index: 1; 
}
p {
 color:#008;
}
#promo_banner {
 margin: 5px 5px;
 display: block;
 font:21px arial;
 color:#FFF;
 font-weight:bold;
}
#promo_item {
 float: left;
 text-align: left;
 display: block;
 margin-left: 5px;
}
#promo_item a {
 color: #FFF;
 text-decoration:none;
}
figcaption {
 text-align: center;
 bottom: 20px;
 display: flex;
 left: 2px;
 position: relative;
 right: 0px;
 background-color:#116;
 width:300px;
 color: #FFF;
 margin: -2px;
}
a.caption {
  color: #FFF; 
  text-decoration:none;
}
table {
  border-collapse: collapse;
}
table.b1, th.b1, td.b1 {
  border: 1px solid #33C;
}
tr:nth-child(even) {
  background-color: #F7CFCF;
}
tr:nth-child(odd) {
  background-color: #F7E7E7;
}
nav {
  float: center;
  width: 100%;
  color: #FFF;
  font: 30px; 
  margin: 2px;
  padding: 1px;
  font-weight: bold;
}
img {
 border: 0px;
 margin: 0px;
 object-fit:scale-down;
}
h1 {
 padding-left: 40px;
}
#nav_border {
 margin: 1px;
 background-color: #222;
}
nav a {
 color: #FFF;
 text-decoration:none;
}
figure {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
}
td {
 vertical-align: top;
}
.alignRight {
  position: absolute;
  right: 0px;
}
.floatLeft {
  float: left;
}
br.clearLeft {
 clear:left;
}
.galleryPreview {
 width:300px;
}
div.GalleryPreviewImg {
 display: flex;
 justify-content: center;
 /*background-color:#FDE;*/
 height:230px;
}
label {
  padding: 0px 12px 0px 0px;
  display: inline-block;
  width:15%;
  font-family: Arial, Helvetica, sans-serif;
}
input[type=submit],input[type=file] {
  border: none;
  border-radius: 8px;
  color: #FFF;
  background-color: #090;
  font-size: 20px;
  padding: 12px 20px;
}
input[type=text],input[type=password],input[type=number],input[type=date], select, textarea{
  width: 40%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  resize: vertical;
  margin-top: 5px;
}
input[type=checkbox]  {
  height: 20px;
  width: 20px;
}
a {
  color: #00F;
}
a:hover {
  color: #33F;
}
p.GalleryBreadcrumb, p.GalleryBreadcrumb a {
  margin-left: 10px;
  color: #080;
}
hr {
  opacity: 0.5;
  width: 95%;
}
hr.border {
  opacity: 0.2;
  width: 75%;
  margin-top: 3px;
  margin-bottom: 3px;

}